*{
    box-sizing:border-box;
}
body{
    background-color:  hsl(210, 46%, 95%);
}
.parent{
    display:flex;
    flex-direction: row;
    width:90%;
    margin:20px auto;
    gap:5px;

}
.overall-first{
    display: flex;
    flex-direction: column;
    width:60%; 
    gap:10px;

}
.first-one{
    display:flex;
    flex-direction: row;
    gap:10px;
}
.first-one-1{
    width:65%;
    height:auto;
    background-color:hsl(263, 55%, 52%) ;
    border-radius: 8px;
    padding: 10px;
}
.image_name{
    display:flex;
    gap:2px;

}
.image_style{
    border-radius:100%;
    border:2px solid rgb(185, 154, 235);
}
.spancontent{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.name{
    color: hsl(0, 0%, 100%)
}
.verified{
    color: hsl(0, 0%, 100%);
    opacity:50%;

}
.name1{
    color: hsl(0, 0%, 4%)
}
.verified1{
    color: hsl(0, 3%, 7%);
    opacity:50%;

}
.first-paragraph{
    color:hsl(0, 0%, 100%);
    font-weight:600;
    

}
.second-paragraph{
    color:hsl(0, 0%, 100%);
    opacity:50%;

}
.first-one-2{
    width:30%;
    height:auto;
    background-color:lightslategray;
    border-radius: 8px;
    padding: 10px;
}
.first-two{
    display:flex;
    flex-direction: row;
    gap:10px;

}
.first-two-1{
    width:30%;
    background-color:hsl(0, 0%, 100%);
    border-radius: 8px;
    padding: 10px;

}
.first-two-2{
    width:65%;
    background-color:hsl(219, 29%, 14%) ;
    border-radius: 8px;
    padding: 10px;
}

.overall-second{

    width:20%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    padding: 15px;
}
@media (max-width:400px) {
    

.parent{
    display:flex;
    flex-direction: column;
    width:100%;
    margin:20px auto;
    gap:10px;
    line-height:18px ;
    font-size: 13px;

}
.overall-first{
    display: flex;
    flex-direction: column;
    width:100%; 
    gap:10px;

}
.first-one{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.first-two{
    display:flex;
    flex-direction: column;
    gap:10px;

}
.first-one-1{
    width:100%;
    height:auto;
    background-color:hsl(263, 55%, 52%) ;
    border-radius: 8px;
    padding: 10px;
}
.first-two-2{
    width:100%;
    background-color:hsl(219, 29%, 14%) ;
    border-radius: 8px;
    padding: 10px;
}
.first-two{
    display:flex;
    flex-direction: column;
    gap:10px;

}
.first-two-1{
    width:100%;
    background-color:hsl(0, 0%, 100%);
    border-radius: 8px;
    padding: 10px;

}
.first-two-2{
    width:100%;
    background-color:hsl(219, 29%, 14%) ;
    border-radius: 8px;
    padding: 10px;
}
.first-one-2{
    width:100%;
    height:auto;
    background-color:lightslategray;
    border-radius: 8px;
    padding: 10px;
}
.overall-second{

    width:100%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    padding: 15px;
}
}